<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="_8x8x8_LED.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <_8x8x8_LED.Properties.Settings>
            <setting name="Autoconnect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OrientationX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OrientationY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OrientationZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FlippedX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlippedY" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlippedZ" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Music_MirroredAudio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Music_ShowSilence" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Music_Responsiveness" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Music_Samples" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="Music_Style" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="PhoneSquare_URL" serializeAs="String">
                <value />
            </setting>
            <setting name="Clock_ShowLeadingZeros" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Clock_24HourStyle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Clock_Flat1Style" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Balls_SyncToMusic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Balls_Speed" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Balls_Physics" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Rain_Count" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="Rain_Speed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Rain_X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Rain_Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Rain_Z" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Marquee_Text" serializeAs="String">
                <value>Hello world!</value>
            </setting>
            <setting name="Marquee_SpacingAmount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Marquee_Speed" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Marquee_EndLastLetter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OffsetX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OffsetY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OffsetZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Video_SyncToMusic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Video_Speed" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Video_Slideshow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CubeType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Rain_Rainbow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Lightning_Rainbow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Lightning_Color" serializeAs="String">
                <value>BrightYellow</value>
            </setting>
            <setting name="Lightning_Amount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Lightning_Speed" serializeAs="String">
                <value>0</value>
            </setting>
        </_8x8x8_LED.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
